### Loading the dataset

In [1]:
import pandas as pd
import numpy as np

In [2]:
bigmart = pd.read_csv('electra.csv')

In [3]:
data = bigmart[['Population', 'Per_Capita_Income']]
data.head()

   Population  Per_Capita_Income
0        12.4              12800
1        11.0               7400
2         8.4              15500
3         6.8              14800
4         5.6               6400

## Min Max Scaler

In [4]:
from sklearn.preprocessing import MinMaxScaler

In [5]:
scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(data)
scaled_data = pd.DataFrame(scaled_data, columns=['Population', 'Per_Capita_Income'])
scaled_data.head()

   Population  Per_Capita_Income
0    1.000000           0.492308
1    0.851064           0.076923
2    0.574468           0.700000
3    0.404255           0.646154
4    0.276596           0.000000

In [7]:
scaled_data

   Population  Per_Capita_Income
0    1.000000           0.492308
1    0.851064           0.076923
2    0.574468           0.700000
3    0.404255           0.646154
4    0.276596           0.000000
5    0.180851           0.261538
6    0.159574           0.153846
7    0.159574           1.000000
8    0.010638           0.315385
9    0.000000           0.084615

In [6]:
scaled_data.describe()

       Population  Per_Capita_Income
count   10.000000          10.000000
mean     0.361702           0.373077
std      0.344757           0.327046
min      0.000000           0.000000
25%      0.159574           0.101923
50%      0.228723           0.288462
75%      0.531915           0.607692
max      1.000000           1.000000

## Standard Scaler

In [8]:
from sklearn.preprocessing import StandardScaler

In [9]:
scaler = StandardScaler()
scaled_data = scaler.fit_transform(data)
scaled_data = pd.DataFrame(scaled_data, columns=['Population', 'Per_Capita_Income'])
scaled_data.head()

   Population  Per_Capita_Income
0    1.951594           0.384289
1    1.496222          -0.954524
2    0.650531           1.053696
3    0.130106           0.880146
4   -0.260212          -1.202453

In [10]:
scaled_data.describe()

         Population  Per_Capita_Income
count  1.000000e+01       1.000000e+01
mean   2.664535e-16      -1.110223e-17
std    1.054093e+00       1.054093e+00
min   -1.105903e+00      -1.202453e+00
25%   -6.180047e-01      -8.739475e-01
50%   -4.065820e-01      -2.727212e-01
75%    5.204250e-01       7.561816e-01
max    1.951594e+00       2.020616e+00